.quizDiv {
    width: 100%;
    background-color: white;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 200px;
    margin: 0 auto;
}

.NextStep {
    background-color: #009e00;
    color: white;
    padding: 10px 30px;
    border: 0;
    border-radius: 3px;
    cursor: pointer;
}
.NextStep:hover{
    background-color: green;
}
.NextStep[disabled]{
    display: none;
}
.finalPage {
    text-align: center;
}

.finalPage h1{
    text-align: center;
    margin: 15px 0;
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: green;
    text-transform: none;
    text-shadow: none;
}