.homeBtn {
    font-weight: bold;
    text-decoration: none;
    color: white;
    font-size: 30px;
    padding-right: 20px;
}
.homeBtn:hover {
    text-decoration: none;
    color: goldenrod;
}

.welcome {
    color: whitesmoke;
}