.carrouselButton {
    padding: 10px;
    border: none;
    background-color: #3f51b5;
    color: #fff;
    font-weight: 600;
    border-radius: 5px;
    width: 100%;
  }
  .carrouselButton:hover {
    text-decoration: none;
    color:white;
    background-color: rgb(82, 36, 249);
    -webkit-transition: color 1s;
    -moz-transition: color 1s;
    -ms-transition: color 1s;
    -o-transition: color 1s;
    transition: color 1s;
    
  }