.login-form {
  background-image: url('./loginPics/login.jpg');
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-bottom: 230px;
  color: whitesmoke;
}

.regClass {
  text-decoration: none;
  color: white;
  padding-left: 10px;
  font-size: 20px;
}