.main {
  background-image: url("./pictures/main-page.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: cover;
  background-size: contain;
  padding: 400px;
}

.wrapper {
    background-color: white;
    padding: 40px;
    border-radius: 20px;
    border-style: solid;
    
}
.main-p {
    font-weight: bold;
    font-family: monospace;
    font-size: 20px;
}

.entry-link:link, .entry-link:visited {
    background-color: white;
    color: black;
    border: 2px solid green;
    border-radius: 10px;
    margin: 20px;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
  }
  
  .entry-link:hover, .entry-link:active {
    background-color: green;
    color: white;
  }