.login-form {
  background-image: url("./loginPics/login.jpg");
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-bottom: 250px;
  color: whitesmoke;
}

.login {
  margin: 0;
  padding: 0;
  display: grid;
  place-content: center;
  min-height: 60vh;
  
}
.loginContainer {
  background-color: #222;
  margin-top: 120px;
  padding: 30px 60px 30px 60px;

}

.switchSpan { 
  margin-left: 10px;
  font-size: 18px;
  color: lightskyblue
}
.switchSpan:hover {
  color: rgb(82, 36, 249);
  -webkit-transition: color 1s;
  -moz-transition: color 1s;
  -ms-transition: color 1s;
  -o-transition: color 1s;
  transition: color 1s;
  cursor: pointer;
}
.input {
  width: 100%;
}
.button {
  padding: 10px;
  border: none;
  background-color: #3f51b5;
  color: #fff;
  font-weight: 600;
  border-radius: 5px;
  width: 100%;
  margin-bottom: 20px;
}
.button:hover {
  background-color: rgb(82, 36, 249);
  -webkit-transition: color 1s;
  -moz-transition: color 1s;
  -ms-transition: color 1s;
  -o-transition: color 1s;
  transition: color 1s;
  
}
.err {
  color: red;
}