.denied {
  background-image: url("./pic/sad-baby-yoda.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 370px;
}

.denied-h1 {
  background-color: white;
  padding: 40px;
  margin: 0 auto;
  border-radius: 40px;
  border-style: solid;
  height: 100px;
  width: 600px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  font-weight: bold;
  font-family: monospace;
  font-size: 22px
}
