.mainPage {
  background-image: url("/src/mainPage/pictures/headerImg.jpeg");
  background-size: cover;
  background-position: absolute;
}
.mainPageLinks {
  padding: 20px;
  background-image: url("/src/mainPage/pictures/trial.jpeg");
  background-size: cover;
  text-decoration: none;
  color: white;
  width: 40%;
  display: flex;
  margin: 60px 0px 50px 480px;
  position: relative;
  font-size: 35px;
  text-align: center;
}
.mainPageLinks:hover {
  text-decoration: none;
  color: goldenrod;
  opacity: 0.8;
}

.pplHeader {
  padding: 10px;
  background-color: whitesmoke;
  background-size: cover;
  background-position: absolute;
  text-align: center;
  color: rgb(160, 4, 4);
  font-size: 60px;
  font-weight: bold;
  height: 100%;
  margin: 0 auto;
}

.pplDiv {
  background-image: url("/src/mainPage/pictures/headerImg.jpeg");
  background-size: cover;
  background-position: absolute;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
}
.pplCard {
  height: 350;
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  background-color: white;
  margin-left: 30px;
  margin-right: 30px;
  margin-top: 30px;
  margin-bottom: 30px;
  position: "relative";
}
.quizPath {
  
  background-color: #009e00;
  color: white;
  padding: 10px 30px;
  border: 0;
  border-radius: 3px;
  cursor: pointer;
}
