.content h1{ 
    margin: 15px 0;
    font-size: 25px;
    font-family: 'arial, sans-serif';
    font-weight: normal;
    color: red;
    text-transform: none;
    text-shadow: none;
    text-align: left;
}