.footer {
  position: relative;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #222;
  color: white;
  text-align: center;
  margin-top: 30px;
  padding-bottom: 10px;
}

.footer-paragraph {
  color: whitesmoke;
  font-weight: bold;
  font-size: 22px;
  text-align: end;
  padding-top: 10px;
  padding-right: 40px;
}
